* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p, span {
  margin: 0;
}

a {
  text-decoration: none;
}

input, button {
  &:focus {
    outline: none;
    box-shadow: none;
  }
  &:hover {
    outline: none;
    box-shadow: none;
  }
}

img {
  width: 100%;
  height: 100%;
}

.content {
  width: 77%;
  margin: 0 auto;
}

.flex-container {
  display: flex;
}

ul {
  list-style-type: none;
  padding: 0;
}