/*Fonts*/

@font-face {
  font-family: 'Circular';
  src: url("../../fonts/Circular Std Font.otf");
}


@font-face {
  font-family: 'HKGrotesk-Medium';
  src: url("../../fonts/hk-grotesk/HKGrotesk-Medium.otf");
}

@font-face {
  font-family: 'HKGrotesk-Bold';
  src: url("../../fonts/hk-grotesk/HKGrotesk-Bold.otf");
}