main {
  section {
    &.hero-banner {
      .flex-container {
        justify-content: space-between;

        .flex_item {
          @include flexContainer();
          flex-wrap: wrap;
          align-items: center;
          flex: 0 0 45%;

          &:first-child {
            align-items: flex-start;
          }

          .flex_item_wrapper {
            width: 97%;
            height: 696px;
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            background-color: $main-color;
            color: $white;
            padding: 48px;

            h2 {
              font-family: $font-family-hkGroteskBold;
              font-size: $font-size-extra-lg;
              margin-bottom: 48px;
            }

            p {
              font-size: 20px;
              font-family: $font-family-hkGroteskMedium;
              margin-bottom: 30px;
            }
            a {
              @include buttonStyles();
              @include flexContainer();
              width: 145px;
              justify-content: center;
            }
          }
          .flex_items_col {
            flex-wrap: wrap;
            flex: 0 0 50%;
            margin-bottom: 64px;

            &.height_md {
              margin-bottom: 40px;

              .mid-width {
                .bg {
                  height: 312px;
                }
              }
            }
            .mid-width {
              width: 66%;
              .bg {
                height: 264px;
                background-color: $main-color;
              }
              h3 {
                font-family: $font-family-hkGroteskBold;
                font-size: $font-size-md;
                color: $main-color;
                padding: 24px 0 22px;
              }
              p {
                font-family: $font-family-hkGroteskMedium;
                font-size: $font-size-extra-md;
                color: $gray300;
                max-height: 94px;
                overflow: hidden;
              }
            }
          }
        }
      }
    }

    &.wallpaper-section {
      height: 504px;
      background-color: #222222;
      color: $white;
      margin: 72px 0 131px;

      .content {
        height: 100%;
      }

      .flex_items {
        margin-right: 47px;

        .box_context {
          height: 100%;
          width: 70%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: 0 auto;

          h2 {
            font-size: $font-size-lg;
            font-family: $font-family-hkGroteskBold;
          }
          p {
            font-size: $font-size-extra-md;
            font-family: $font-family-hkGroteskMedium;
            padding: 28px 0 49px;
          }
          button {
            width: 190px;
          }
        }
      }

      .md-items {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .sm_box {
          margin-top: 45px;
          margin-bottom: 0;
        }
      }

      .sm_box {
        width: 242px;
        height: 48px;
        background-color: $white200;
        margin-bottom: 45px;
      }

      .md_box {
        width: 242px;
        height: 242px;
        background-color: $white200;
      }
    }

    &.get-letter{
      h4{
        font-family: $font-family-hkGroteskBold;
        font-size: $font-size-title;
        text-align: center;
      }
    }
  }
}

