footer {
  background-color: $main-color;
  height: 168px;
  @include flexContainer();

  ul {
    width: 30%;
    margin: 0 auto;

    @include flexContainer();
    li {
      position: relative;

      &:before{
        display: block;
        width: 5px;
        height: 5px;
        position: absolute;
        content: "";
        right: 0;
        top: 50%;
        transform: translate(19px, -1px);
        background-color: #fff;
        border-radius: 50%;
      }

      &:last-child{
        &:before{
          display: none;
        }
      }

      a {
        font-family: $font-family-hkGroteskBold;
        font-size: $font-size-sm;
        color: $white;
      }
    }
  }
}