form {
  width: 529px;
  margin: 0 auto 120px;
  text-align: center;

  input {
    width: 100%;
    height: 48px;
    text-align: center;
    background-color: $white;
    margin: 51px auto 24px;

    &::-webkit-input-placeholder {
      font-family: $font-family-hkGroteskMedium;
      font-size: $font-size-extra-sm;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.71;
      letter-spacing: normal;
      text-align: center;
      color: $gray200;
    }
  }
}