nav {
  .content {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .col {
      width: 400px;
    }

    .page-logo {
      h3 {
        font-size: $font-size-title;
        font-family: $font-family-hkGroteskBold;
      }
    }

    ul {
      @include flexContainer();

      li {
        a {
          font-family: $font-family-hkGroteskMedium;
          font-size: $font-size-sm;
          color: $main-color;
        }
      }
    }
  }
}