@mixin buttonStyles {
  width: 100%;
  height: 48px;
  font-size: $font-size-extra-sm;
  font-family: $font-family-hkGroteskBold;
  text-align: center;
  background-color: $white;
  color: $main-color;
  border: none;

  &.dark-bg {
    background-color: $main-color;
    color: $white;
  }

  &.light-bg {
    background-color: $white200;
  }
}

@mixin flexContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}