$content: 1110px;
$max-container-size: 1920px;
$container-size: 1440px;

$font-family-hkGroteskBold: 'HKGrotesk-Bold';
$font-family-hkGroteskMedium: 'HKGrotesk-Medium';
$font-family-circular: 'Circular';

$font-size-extra-sm: 14px;
$font-size-sm: 16px;
$font-size-extra-md: 18px;
$font-size-md: 24px;
$font-size-lg: 48px;
$font-size-extra-lg: 60px;
$font-size-title: 36px;


$main-color: #222222;
$white: white;
$white200: #f0f0f0;
$gray200: #8d8c8c;
$gray300: #4d4d4d;
